@model EntryDesignConcept.Models.Billability

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Billability</h4>
        <hr />
        @Html.ValidationSummary(true)

       
        <div class="form-group">
            <label class="control-label col-md-2">Position</label>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.PositionID.ID, (SelectList)ViewBag.Position, "Select Position", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PositionID.ID)
            </div>
        </div>
       
        <div class="form-group">
            <label class="control-label col-md-2">Activity</label>
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ActivityID.ID, (SelectList)ViewBag.Activity, "Select Activity", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityID.ID)
            </div>
        </div>      

        <div class="form-group">
            @Html.LabelFor(model => model.Billable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Billable)
                @Html.ValidationMessageFor(model => model.Billable)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
